<!DOCTYPE html>
<html>
<head>
  <title>Mail Drop</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= stylesheet_link_tag "mail_drop/application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags "application-mail_drop" %>
</head>
<body>
  <%= yield %>
</body>
</html>
